.new-thread-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px 0;
  gap: 50px;
}

.new-thread-input {
  padding: 0 10px 0;
  height: 3rem;
  border-color: transparent;
  border-radius: 5px;
}



.new-thread-put-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  box-sizing: border-box;
}

.new-thread-put-grid a {
  text-decoration: underline;
}

.new-thread-put-grid div {
  margin-left: 10%;
}
