#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.thread-titles {
  display :grid;
  grid-template-columns: 1fr;
  width: 50vw;
}

.cell {
  border: 1px #C0C0C0 solid;
  padding: 10px 0 10px 10px;
}

.cell:hover {
  background-color: #C0C0C0;
}
